// banner
.banner {
    background-image: url(../images/home-header.png);
    height: 90vh;
    @include bg-img;
    display: flex;
    align-items: center;

    .container {
        width: 100%;
    }

    .btn {
        padding: 6px 12px;
        border: none;
    }

    @include mobile {
        background-image: url(../images/home-header-sm.png);
        height: 50vh;

        .h4 {
            font-size: $font-size-base;
        }

        .h1 {
            font-size: $h6-font-size;
            margin-bottom: 8px;
        }
    }
}

// main
main {
    section {
        padding-top: 80px;
        padding-bottom: 80px;

        @include mobile {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}

// 用專業的心，做專業的事
.introduction {
    .intro-card {
        flex-direction: column;
        align-items: center;
        padding: 0 12px;
        width: 25%;
    }

    .card-header {
        width: 100px;
    }

    @include pad {
        .intro-card {
            width: 50%;
            margin-bottom: 24px;
        }
    }

    @include mobile {
        .intro-card {
            width: 100%;
        }

        .intro-title {
            font-size: $h6-font-size;
        }
    }
}

// 經典系列鏡框
.classic {
    .classic-card {
        width: 33.33%;
    }

    @include pad {
        .classic-card-box {
            flex-direction: column;
            align-items: center;
        }

        .classic-card {
            width: 50%;
            margin-bottom: 24px;
        }
    }

    @include mobile {
        .classic-title {
            font-size: $h6-font-size;
            margin-bottom: 24px;
        }

        .classic-card {
            width: 100%;
        }

        .card-photo {
            margin-bottom: 8px;
        }
    }
}

// 聯名設計鏡框
.joint {
    background-image: url(../images/index-bg.png);
    @include bg-img;

    .joint-card {
        width: 50%;
    }

    .card-photo-1 {
        background-image: url(../images/home-section4-1.png);
    }

    .card-photo-2 {
        background-image: url(../images/home-section4-2.png);
    }

    .card-photo-1,
    .card-photo-2 {
        @include bg-img;
        min-height: 240px;
    }

    @include pad {
        .joint-card {
            width: 100%;
            margin-bottom: 24px;
        }
    }

    @include mobile {
        .joint-title {
            font-size: $h6-font-size;
            margin-bottom: 24px;
        }

        .card-photo-1 {
            background-image: url(../images/home-section4-1-sm.png);
        }

        .card-photo-2 {
            background-image: url(../images/home-section4-2-sm.png);
        }
    }
}

// 顧客推薦
.comment {
    .comment-card {
        width: 25%;
    }

    .card-photo {
        width: 100%;
    }

    .card-content {
        flex-direction: column;
        justify-content: space-between;
        padding: 16px;
        height: 205px;
        border: 1px solid #DEE2E6;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 2px 6px #00000029;
    }

    .comment-date {
        font-size: $sm-font-size;
        color: #707070;
    }

    @include pad {
        .comment-card {
            width: 50%;
            margin-bottom: 24px;
        }
    }

    @include mobile {
        .comment-title {
            margin-bottom: 24px;
            font-size: $h6-font-size;
        }

        .comment-card {
            width: 100%;
            margin-bottom: 16px;
        }
    }
}

// 聯絡我們
.contact-us {
    .form {
        width: 50%;
        margin: 0 auto;
    }

    .input {
        width: 100%;
        height: 36px;
        padding: 6px 12px;
        border: 1px solid #000;
    }

    .textarea {
        width: 100%;
        padding: 6px 12px;
        border: 1px solid #000;
        resize: none;
    }

    .submit-button {
        width: calc(4/6 * 100%);
        padding-top: 16px;
        padding-bottom: 16px;
        margin: 0 auto;
        border: none;
    }

    @include pad {
        .form {
            width: calc(10/12 * 100%);
        }

        .submit-button {
            width: 60%;
        }
    }

    @include mobile {
        .contact-title {
            margin-bottom: 24px;
            font-size: $h6-font-size;
        }

        .contact-description {
            font-size: $font-size-base;
        }

        .form {
            width: 100%;
        }

        .submit-button {
            width: 100%;
        }
    }
}