/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  line-height: 1.5;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-6 {
  margin-bottom: 48px; }

.mx-n12 {
  margin-left: -12px;
  margin-right: -12px; }

.px-12 {
  padding-left: 12px;
  padding-right: 12px; }

.d-block {
  display: block; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.h1 {
  font-size: 4rem; }

.h2 {
  font-size: 3rem; }

.h3 {
  font-size: 2.625rem; }

.h4 {
  font-size: 2.25rem; }

.h5 {
  font-size: 2rem; }

.h6 {
  font-size: 1.5rem; }

.lg-text {
  font-size: 1.25rem; }

.md-text {
  font-size: 1.125rem; }

.sm-text {
  font-size: 0.875rem; }

.text-bold {
  font-weight: bold; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-italic {
  font-style: italic; }

.text-primary {
  color: #AA0601; }

.text-primary-dark {
  color: #650300; }

.text-secondary {
  color: #fff; }

.bg-primary {
  background-color: #AA0601; }

.bg-primary-light {
  background-color: #FBF2F2; }

.bg-secondary {
  background-color: #fff; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px; }

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.header .logo {
  display: block;
  width: 80px;
  padding-top: 16px;
  padding-bottom: 16px; }

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.header .menu-link {
  display: block;
  padding: 25px 32px;
  color: #fff; }

.header .pr-0 {
  padding-right: 0; }

@media (max-width: 767px) {
  .header .container {
    padding: 0; }
  .header h1 {
    width: 100%; }
  .header .logo {
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0 auto; }
  .header .menu {
    width: 100%; }
  .header li {
    width: 50%;
    border: 1px solid #fff;
    text-align: center;
    font-size: 1rem; }
  .header .menu-link {
    padding: 12px; } }

.footer {
  color: #fff; }
  .footer a {
    display: block;
    color: #fff; }
  .footer-header, .footer-menu,
  .footer .social-media-group, .footer-footer,
  .footer .policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-header {
    padding-top: 48px;
    padding-bottom: 32px;
    border-bottom: 1px solid #fff; }
  .footer-menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 24px;
    width: 448px;
    height: 48px; }
  .footer .contact-method span {
    vertical-align: middle;
    padding-right: 20px; }
  .footer .social-media-group {
    width: 208px; }
  .footer .social-media-logo {
    width: 48px; }
  .footer-footer {
    padding-top: 32px;
    padding-bottom: 32px; }
  .footer .policy {
    width: 174px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  @media (max-width: 992px) {
    .footer-menu {
      height: 40px; }
    .footer .social-media-group {
      width: 152px; }
    .footer .social-media-logo {
      width: 40px; } }
  @media (max-width: 767px) {
    .footer-header {
      padding-top: 24px;
      padding-bottom: 24px; }
    .footer-footer,
    .footer .policy {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start; }
    .footer .policy li {
      margin-top: 8px; }
    .footer-menu {
      display: none; }
    .footer .social-media-group {
      width: 88px; }
    .footer .social-media-logo {
      width: 24px; }
    .footer-footer {
      padding-top: 16px;
      padding-bottom: 24px; }
    .footer .h4,
    .footer .sm-text {
      font-size: 1rem; } }

.banner {
  background-image: url(../images/home-header.png);
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .banner .container {
    width: 100%; }
  .banner .btn {
    padding: 6px 12px;
    border: none; }
  @media (max-width: 767px) {
    .banner {
      background-image: url(../images/home-header-sm.png);
      height: 50vh; }
      .banner .h4 {
        font-size: 1rem; }
      .banner .h1 {
        font-size: 1.5rem;
        margin-bottom: 8px; } }

main section {
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    main section {
      padding-top: 40px;
      padding-bottom: 40px; } }

.introduction .intro-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
  width: 25%; }

.introduction .card-header {
  width: 100px; }

@media (max-width: 992px) {
  .introduction .intro-card {
    width: 50%;
    margin-bottom: 24px; } }

@media (max-width: 767px) {
  .introduction .intro-card {
    width: 100%; }
  .introduction .intro-title {
    font-size: 1.5rem; } }

.classic .classic-card {
  width: 33.33%; }

@media (max-width: 992px) {
  .classic .classic-card-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .classic .classic-card {
    width: 50%;
    margin-bottom: 24px; } }

@media (max-width: 767px) {
  .classic .classic-title {
    font-size: 1.5rem;
    margin-bottom: 24px; }
  .classic .classic-card {
    width: 100%; }
  .classic .card-photo {
    margin-bottom: 8px; } }

.joint {
  background-image: url(../images/index-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .joint .joint-card {
    width: 50%; }
  .joint .card-photo-1 {
    background-image: url(../images/home-section4-1.png); }
  .joint .card-photo-2 {
    background-image: url(../images/home-section4-2.png); }
  .joint .card-photo-1,
  .joint .card-photo-2 {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 240px; }
  @media (max-width: 992px) {
    .joint .joint-card {
      width: 100%;
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .joint .joint-title {
      font-size: 1.5rem;
      margin-bottom: 24px; }
    .joint .card-photo-1 {
      background-image: url(../images/home-section4-1-sm.png); }
    .joint .card-photo-2 {
      background-image: url(../images/home-section4-2-sm.png); } }

.comment .comment-card {
  width: 25%; }

.comment .card-photo {
  width: 100%; }

.comment .card-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  height: 205px;
  border: 1px solid #DEE2E6;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029; }

.comment .comment-date {
  font-size: 0.875rem;
  color: #707070; }

@media (max-width: 992px) {
  .comment .comment-card {
    width: 50%;
    margin-bottom: 24px; } }

@media (max-width: 767px) {
  .comment .comment-title {
    margin-bottom: 24px;
    font-size: 1.5rem; }
  .comment .comment-card {
    width: 100%;
    margin-bottom: 16px; } }

.contact-us .form {
  width: 50%;
  margin: 0 auto; }

.contact-us .input {
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  border: 1px solid #000; }

.contact-us .textarea {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #000;
  resize: none; }

.contact-us .submit-button {
  width: calc(4/6 * 100%);
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
  border: none; }

@media (max-width: 992px) {
  .contact-us .form {
    width: calc(10/12 * 100%); }
  .contact-us .submit-button {
    width: 60%; } }

@media (max-width: 767px) {
  .contact-us .contact-title {
    margin-bottom: 24px;
    font-size: 1.5rem; }
  .contact-us .contact-description {
    font-size: 1rem; }
  .contact-us .form {
    width: 100%; }
  .contact-us .submit-button {
    width: 100%; } }

/*# sourceMappingURL=all.css.map */
